.contenus-right
{
  display: flex;
  flex-flow: column nowrap;
  gap: calc(var(--padding) * 2);
  width: 260px;
  height: fit-content;
  overflow-y: scroll;
  //border: 1px solid var(--couleur-bordure-container-principaux);
  border-radius: var(--border-radius);
//  flex: 1;
}
.contenus-left
{
  display: flex;
  flex-flow: column;
  gap: var(--padding);
  height: fit-content;
  min-width: 528px;
  width: calc(100% - 280px);
  /* border: 1px solid green; */
  border-radius: var(--border-radius);
  flex: none;
  transition: flex 0.1s linear;
}



.statistique_barChart
{
  display: flex;
  align-content: center;
  flex-direction: column;
  background-color: var(--couleur-container-principaux);
  width: 100%;
  height: 300px;
  border-radius: var(--border-radius);
  margin-bottom: var(--padding);
  border: 1px solid var(--couleur-bordure-container-principaux);
  padding: var(--padding);
}
.barChart
{
  width: 70%;
  flex: 1;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}
.barChart-container{
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
}
.statistique_barChart  p,
{
  width: 100%;
}
.barChart img
{
  width: 80%;
  height: 100%;
}
.Liste-titre
{
  width: 781px;
  height: 51px;
  background: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
  display: inline-flex;
}

app-liste-utilisateurs, .bestStudents
{
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  gap: calc(var(--padding) * 2);
  height: fit-content;
  max-height: 500px;
  width: 100%;
  border-radius: var(--border-radius);
  border: 1px solid var(--couleur-bordure-container-principaux);
  padding: var(--padding);
  overflow-y: scroll;
  background-color: #fff;
  background: var(--couleur-container-principaux);
}
.pieChart
{
  display: flex;
  height: fit-content;
  background-color: var(--couleur-container-principaux);
  padding: var(--padding);
  border-radius: var(--border-radius);
  border: 1px solid var(--couleur-bordure-container-principaux);
}
.miniSatistique
{
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: fit-content;
  background-color: var(--couleur-container-principaux);
  padding: var(--padding);
  border-radius: var(--border-radius);
  border: 1px solid var(--couleur-bordure-container-principaux);
  gap: var(--padding);
}
.miniSatistique .total, .miniSatistique .percent, .miniSatistique .description
{
  font-size: 14px;
}
.miniSatistique .percent
{
  color: var(--couleur-main);
}

@media screen and (max-width: 909px)  {
  .contenus-left
  {
    flex: 1;
  }
  .contenus-right
  {
    flex-flow: row nowrap;
    width: 100%;
  }
}
