  <div class="contenus-container">
    <div class="contenus-left">
      <div class="statistique_barChart">
        <!-- <div class="statistique-text">
            <p>Statistique</p>
        </div> -->
        <p>Statistique</p>
        <div class="barChart-container">
          <app-bar-chart class="barChart"></app-bar-chart>
        </div>
      </div>
      <app-liste-utilisateurs></app-liste-utilisateurs>
    </div>
    <div class="contenus-right">
      <app-liste-best-utilisateurs class="bestStudents"></app-liste-best-utilisateurs>
      <app-pie-chart class="pieChart"></app-pie-chart>
      <div class="miniSatistique">
        <p>Total, utilisateurs / Mois</p>
        <p class="total">89,670</p>
        <p class="percent">+28.8%</p>
        <p class="description">Croissance des utilisateurs ce mois-ci.</p>
      </div>
    </div>
  </div>
