.contenus-container {
  padding: var(--padding);
  background: white;
  //box-shadow: 0px 0px 4px rgba(255, 142, 41, 0.10);
  border-radius: var(--border-radius);
  overflow: hidden;
  border: 1px #C5C5C5 solid;
  display: flex;
  flex-flow: row nowrap;
  gap: var(--padding);
}

.container-left {
  width: 385px;
  padding: 10px;
  border-radius: var(--border-radius);
  border: 1px #C5C5C5 solid;
  display: flex;
  flex-direction: column;
  gap: var(--padding);
}

.optionsNiveau {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}


.option {
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;

}

.option ion-icon {
  margin-right: 10px;
}

.conteneurCours
{
  display: flex;
  flex-flow: column nowrap;
  gap: var(--padding);
}
.icon-titre:hover, .icon-titre:focus, .icon-titre.active
{
  background-color: var(--couleur-main);
}

ion-icon
{
  color: var(--couleur-gray);
}
.menu:hover ion-icon, .menu:hover p, .menu:focus ion-icon, .menu:focus p, .menu-drop:hover
{
  color: var(--couleur-black);
}
.menus-containers{
  display: flex;
  flex-flow: column wrap;
  gap: var(--padding);
}
.icon-titre
{
  width: 100%;
  display: flex;
  padding: var(--padding);
  flex-flow: row nowrap;
  align-items: center;
  gap: var(--padding);
  height: fit-content;
  text-overflow: ellipsis;
  overflow: hidden;
  //border: 1px solid green;
  justify-content: space-between;
  border-radius: var(--border-radius);
}
.menu-titre
{
  overflow: hidden;
  color: var(--couleur-menu-text);
  cursor: pointer;
  flex: 1;
}

.menu-selected, .menu-selected .menu-titre
{
  color: var(--couleur-menu-titre-selectionne);
  background-color: #3de169;
}
.menu-icon, .menu-icon img
{
  width: 20px;
  height: 20px;
}
.menu-icon
{
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: space-between;
  /*background-color: blue;*/
}

.menu
{
  display: flex;
  flex-flow: column nowrap;
  column-gap: var(--padding);
  row-gap: var(--padding);
  align-items: center;
  min-height: 40px;
  flex-shrink: 0;
  border-radius: var(--border-radius);
  text-overflow: ellipsis;
  overflow: hidden;
  //border: 1px solid green;
}

.lesson-menu
{
  display: flex;
  flex-flow: column nowrap;
  column-gap: var(--padding);
  row-gap: var(--padding);
  align-items: center;
  min-height: 40px;
  border-radius: var(--border-radius);
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
  //border: 1px solid green;
}

.beforeDrop{
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: var(--padding);
  height: fit-content;
  text-overflow: ellipsis;
  overflow: hidden;
  //border: 1px solid green;
  border-radius: var(--border-radius);
}
