<div class="ajouterUtilisateur">
  <div class="cadrePrincipal">
    <div class="optionsNiveau">
      <div class="groupeNiveauDebutant">
        <div class="rectangleDebutant"></div>
        <div class="texteDebutant">Niveau 1</div>
      </div>
      <div class="groupeNiveauIntermediaire">
        <div class="rectangleIntermediaire"></div>
        <div class="texteIntermediaire">Niveau 2</div>
      </div>
      <div class="groupeNiveauAvance">
        <div class="rectangleAvance"></div>
        <div class="texteAvance">Niveau 3</div>
      </div>
    </div>
    <div class="conteneurCours">
      <div class="cours1">
        <div class="carteCours">
          <div class="titreCours">Cours 1</div>
        </div>
      </div>
      <div class="chapitre1">
        <div class="conteneurChapitre">
          <div class="texteChapitre1">chapitre 1 : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta odio sed </div>
        </div>
        <div class="indicateurs">
          <div class="indicateurVert"></div>
          <div class="indicateurVert"></div>
          <div class="indicateurVert"></div>
        </div>
      </div>
      <div class="chapitre2">
        <div class="conteneurChapitre">
          <div class="texteChapitre2">chapitre 2 : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta odio sed </div>
        </div>
        <div class="indicateurs">
          <div class="indicateurVert"></div>
          <div class="indicateurVert"></div>
          <div class="indicateurVert"></div>
        </div>
      </div>
      <div class="chapitre3">
        <div class="conteneurChapitre">
          <div class="texteChapitre3">chapitre 3 : Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed porta odio sed </div>
        </div>
        <div class="indicateurs">
          <div class="indicateurVert"></div>
          <div class="indicateurVert"></div>
          <div class="indicateurVert"></div>
        </div>
      </div>
    </div>
  </div>
  <div class="cadreActions">
    <div class="titreActions">Actions</div>
    <div class="ajouterUtilisateurBouton">
      <div class="rectangleAjouter">
        <div class="texteAjouter">Ajouter un Utilisateur</div>
      </div>
    </div>
  </div>
</div>
