
<div class="contenus-container">
  <app-liste-utilisateurs></app-liste-utilisateurs>
  <div class="contenus-right">
    <div class="miniSatistique">
      <p class="nom">Ahmed Ouattara</p>
      <div class="photo">
        <img src="https:/randomuser.me/api/portraits/men/60.jpg" alt="Profil utilisateur">
      </div>
      <p>ID : 0p6vcDh</p>
      <p class="role">Apprenant</p>
      <div class="contact">
        <div class="message">
          <ion-icon name="chatbubble-ellipses"></ion-icon>
        </div>
        <div class="call">
          <ion-icon name="call"></ion-icon>
        </div>
        <div class="mail">
          <ion-icon name="mail"></ion-icon>
        </div>
      </div>
      <div class="divider"></div>
    </div>
    <div class="userDetails">
      <p class="titre">À propos de moi</p>
      <p class="description">je m'appelle Jone Smith : j’utilise Sigida Kanw depuis 2 semaines et je suis toujours satisfait
        des services.</p>
    </div>
    <div class="identité">
      <div class="date_naissance">
        <p class="titre">Date de naissance</p>
        <p class="description">14 - 01 - 2002</p>
      </div>
      <div class="genre">
        <p class="titre">Genre</p>
        <p class="description">Masculin</p>
      </div>
      <div class="Adresse">
        <p class="titre">Adresse</p>
        <p class="description">Bamako, Senou medine.</p>
      </div>
    </div>
    <div class="statUser">
      <p class="titre">Stats</p>
      <div class="stats">
        <div class="strack">
          <div class="icones">
            <img src="/assets/Images/flame.png"/></div>
          <div class="detail">
            <p>14</p>
            <p>Jours d'activités</p>
          </div>
        </div>
        <div class="strack">
          <div class="icones">
            <img src="assets/Images/star.png"/>
          </div>
          <div class="detail">
            <p>140</p>
            <p>Points gagnés</p>
          </div>
        </div>
        <div class="strack">
          <div class="icones">
            <img src="assets/Images/bitcoin.png"/>
          </div>
          <div class="detail">
            <p>45</p>
            <p>Pièces gagnés</p>
          </div>
        </div>
        <div class="strack">
          <div class="icones">
            <img src="assets/Images/level-up.png"/>
          </div>
          <div class="detail">
            <p>1</p>
            <p>Niveau actuel</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
